@font-face {
  font-family: 'NMS-Glyphs-Mono';
  src:
    local('NMS-Glyphs-Mono'),
    url('./fonts/NMS-Glyphs-Mono.ttf') format('truetype');
}

@font-face {
  font-family: 'NMS-Glyphs-Tight';
  src:
    local('NMS-Glyphs-Tight'),
    url('./fonts/NMS-Glyphs-Tight.ttf') format('truetype');
}

.glyphs {
  font-family: NMS-Glyphs-Tight;
  font-size: 2rem;
  vertical-align: sub;
}

.container {
  margin-block-start: 1rem;
  margin-block-end: 5rem;
}

html,
body {
  scrollbar-gutter: stable;
}

.table-header {
  font-weight: bold;
  border-block-end: 1px solid var(--color);
  padding-block-end: 0.25rem;
  padding-block-start: 0.5rem;
  position: sticky;
  top: 0;
  background-color: var(--background-color);
}
