@font-face {
  font-family: 'NMS-Glyphs-Mono';
  src:
    local('NMS-Glyphs-Mono'),
    url('./fonts/NMS-Glyphs-Mono.ttf') format('truetype');
}

.glyphs {
  font-family: NMS-Glyphs-Mono;
  font-size: 2rem;
  vertical-align: sub;
  line-height: initial;
  letter-spacing: -6px;
}

.stat-grid {
  display: grid;
  gap: 1rem;

  & > * {
    align-self: center;
  }

  &.dynamic-cols {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}

.number-stats-wrapper {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 0.5rem 1rem;
  width: fit-content;
}

// this cannot be done with text-bold because of specificity
.table-header th {
  font-weight: bold;
}

.chart {
  max-height: 600px;
}

.select-min-width {
  min-width: 150px;
}

// link colours copied from Pico CSS
.body--light .link-colour {
  color: rgb(1, 114, 173);

  &:hover {
    color: rgb(1, 88, 135);
  }
}

.body--dark .link-colour {
  color: rgb(1, 170, 255);

  &:hover {
    color: rgb(121, 192, 255);
  }
}
