@font-face {
  font-family: 'NMS-Glyphs-Tight';
  src:
    local('NMS-Glyphs-Tight'),
    url('./fonts/NMS-Glyphs-Tight.ttf') format('truetype');
}

.glyphs {
  font-family: NMS-Glyphs-Tight;
  font-size: 2rem;
  vertical-align: sub;
  line-height: initial;
}

.container {
  margin-block-start: 1rem;
  margin-block-end: 5rem;
}

.table-header {
  font-weight: bold;
  border-block-end: 1px solid var(--pico-color);
  padding-block-end: 0.25rem;
  padding-block-start: 0.5rem;
  position: sticky;
  top: 0;
  background-color: var(--pico-background-color);
  white-space: pre;
  align-self: auto !important;

  &.sortable {
    display: flex;
    cursor: pointer;

    &:after {
      content: '';
      margin-block-start: 0.5rem;
      margin-inline-start: 0.15rem;
      border-width: 4px 4px 0;
      border-style: solid;
      border-color: var(--pico-color) transparent;
      visibility: hidden;
      user-select: none;
      height: min-content;
    }

    &[aria-sort='ascending']:after {
      border-top: none;
      border-width: 0 4px 4px;
    }

    &[aria-sort]:after {
      visibility: visible;
      opacity: 0.6;
    }

    &:hover:after {
      visibility: visible;
      opacity: 1;
    }
  }
}

.stat-grid {
  display: grid;
  gap: 1rem;

  & > * {
    align-self: center;
  }

  &.dynamic-cols {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}

details[open] {
  width: 100%;
}

.stats-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;

  & > * {
    flex-grow: 1;
  }
}

.italic {
  font-style: italic;
}

.text-bold {
  font-weight: bold;
}
